.hero {
  width: 100%;
  color: #333;
}
.title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 48px;
}
.title,
.description {
  text-align: center;
}
.row {
  max-width: 880px;
  margin: 80px auto 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.card {
  padding: 18px;
  width: 250px;
  text-align: center;
  text-decoration: none;
  color: #434343;
  border: 1px solid #9b9b9b;
}
.cardImage {
width: 240px; margin: auto;
}
.card:hover {
  border-color: #067df7;
  filter: invert(30%);
}
.card h3 {
  margin: 0;
  color: #067df7;
  font-size: 18px;
}
.card p {
  margin: 0;
  padding: 12px 0 0;
  font-size: 13px;
  color: #333;
}
.questionImageDiv {
text-align: center;
}
.questionImage{
width: 400px;
}
